
/******************
    GENERAL   
 *****************/

/*
header h1 {
    font-size: 10px;
    font-family: Tahoma;
    font-weight: bold;
}
*/

#home {
    /*background: url(../images/bckground/ProbeBackground.jpg) no-repeat center center fixed;*/
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    filter: alpha(opacity=10);
}


.noMargins {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.spacing {
    padding-top: 20px;
    text-align: center;
}

.insetBug {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

/*
 responsive background image   
 */
@media only screen and (min-height: 2560px) { /*height: 2560px width 1440*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 2559px) and (min-height: 1912px) { /*MANY -height: 1920px width 1080*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1911px) and (min-height: 1600px) { /*height: 1600px width 900*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1599px) and (min-height: 1180px) { /*MANY -height: 1280px width 800*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1179px) and (min-height: 1024px) { /*height: 1024px width 600*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1023px) and (min-height: 800px) { /*MANY -height: 800px  width 480*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 799px) and (min-height: 480px) { /*MANY - height 480 width 320*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 479px) and (min-height: 0px) { /*height 320 width 240*/
    .backimageLowOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity3.jpg) no-repeat center center fixed;
    }
    .backimageHighOpacity {
        background: url(../images/bckground/ProbeBackground-Opacity20.jpg) no-repeat center center fixed;
    }
}


/*****************
    SETTINGS POPUP 
******************/
.popupMessage {
    max-width: 300px;
}

.buttonRight {
    text-align: right;
}

.popupContentFontSize {
    font-size: 80%;
}

.popupButtonFontSize {
    font-size: 85%;
}

.popupGameName {
    font-style: italic;
    font-weight: bolder;
}

/*
 POSTER STYLES   
 */
.posterColumn1 {
    /*
    border: solid; 
    border-color: red;
      */
    min-width: 100px;
    max-width: 122px;
    float: left;
    height: 179px;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.posterColumn2 {
    /*
    border: solid; 
    border-color: blue; 
        */
    overflow: hidden;
    min-width: 150px;
    height: 154px;
    min-height: 179px;
    padding: 10px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.posterText {
    padding: 0px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    font-size: 100%;
}

    .posterText h3 {
        padding: 2px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

.posterHeaderCenter {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.posterHeaderLeft {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.posterGeneral {
    font-size: 100%;
    text-align: left;
}

    .posterGeneral h3 {
        padding: 4px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }

    .posterGeneral img {
        height: 124px;
        width: 100%;
    }


.myDebug {
    border: solid;
    border-color: red;
}

.dynamicFontSize {
}


/*
    
CLIENT TEST - NEW STYLES (MNS - 9/25/14
    
    */
.summaryButton {
}

.submitButton {
}


/*Question Navigation Back and Next Buttons*/
.questionNavButtonsParentDiv {
    width: 100%;
    height: 40px;
}

.backButtonDiv {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: left;
    width: 27%;
    height: 100%;
}

.legendDiv {
    float: left;
    width: 44%;
    height: 100%;
    text-align: center;
}

.legendTextDiv {
    padding-top: 7px;
}

.nextButtonDiv {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: right;
    width: 27%;
    height: 100%;
}

@media only screen and (min-width: 476px) {
    .backButtonCss {
        height: 100%;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .nextButtonCss {
        height: 100%;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 475px) {
    .backButtonCss {
        height: 100%;
        padding: 0px 10px 0px 0px;
        margin: 0px 10px 0px 0px;
        text-align: right;
    }

    .nextButtonCss {
        height: 100%;
        padding: 0px 0px 0px 10px;
        margin: 0px 0px 0px 0px;
        text-align: left;
    }
}

/*
    HOME PAGE BUTTONS   
 */
.GameReadOnlyButtons {
    padding-right: 5px;
    padding-left: 5px;
}

/*
 HOME PAGE LIST VIEW OF GAMES   
 */
.listviewGameName {
    font-size: .9em;
}

.listviewPlayerName {
    font-size: .7em;
    font-weight: bold;
}

.gameResumeAction {

}

.gameReportAction {

}

